name: build-publish

on:
  push:
    branches:
    - main
    tags:
    - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      IMAGE: ghcr.io/chilledether/postfix
    steps:
    - name: checkout
      uses: actions/checkout@v6

    - name: ghcr-login
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: docker-build-push
      uses: docker/build-push-action@v4
      with:
        context: ./build
        file: ./build/dockerfile
        push: true
        tags: |
          ${{ env.IMAGE }}:latest
          ${{ env.IMAGE }}:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: docker-build-push-tags
      if: startsWith(github.ref, 'refs/tags/')
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ env.IMAGE }}:${{ github.ref_name }}
        cache-from: type=registry,ref=${{ env.IMAGE }}:latest
        cache-to: type=gha,mode=max